.content {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .card {
  position: absolute;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.4s ease;
}

.content .card.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}
